/*! ---UTF-8---
* @Autor Mavalerio https://orcid.org/0000-0003-2770-0624
* @version 0.0.0.2 [2020-may-26]
* @copyleft GPLv3
*/
.do-print{ display: none; }

@media print {
	/*Remover Barra superiora*/
	#topologo{ display: none; }
	.navbar-fixed-top{ display: none; }
	/*Classe de não impressão*/
	.no-print{ display: none !important; }
	.do-print {
		height: 78px;
		display: flex !important;
		flex-direction: column;
		
		align-items: center;
		margin-top: 8px;
		gap: 32px;
	}

	.do-print img {
		width: 50px;
		height: 50px;
	}

	

	/*Não imprimir links nem abreviações*/
	a[href]:after { content: none !important; }
	abbr[title]:after { content: none !important; }

	/*não mostrar opção de edição*/
	.icon-edit { display: none !important; }
	.fa-edit { display: none !important; }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
